<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="/assets/logo_transparent.png" alt="Logo Freexa" width="200" />
      <h1>Hello, {{ title }}</h1>
      <p>Welcome to Freexa.</p>
      <p>The Freexa software is an enterprise LLM that supports employee efficiency by offering tools/features such as :
        <br>
        Chat : the employees can ask questions regarding the company
        <br>
        Summarize documents : the employees can summarize documents such as pdf files or text
        <br>
        Retrieval of employees information : members of the direction can retrieve data of employees
        <br>
        Planning tasks : employees can plan tasks for their day, week and month
      </p>
    </div>
    <div class="right-side">
    </div>
  </div>
</main>


